<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-referral-deposit-tab" data-toggle="tab" href="#nav-referral-deposit"
                    role="tab" aria-controls="nav-referral-deposit" aria-selected="true">Deposits</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContentReferral">
            <div class="tab-pane fade show active" id="nav-referral-deposit" role="tabpanel" aria-labelledby="nav-referral-deposit-tab">
                <div class="col-12">
                    <div *ngIf="referral_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Referral</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposit of referral_histories['deposits'] | keyvalue">
                                    <td><b>{{ deposit.value.type }}</b></td>
                                    <td>{{ deposit.value.amount | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b (click)="gotoAccount(deposit.value.referral.id)">{{ deposit.value.referral.name }}</b></td>
                                    <td><b><span class="text-{{ deposit.value.status.type }}">{{ deposit.value.status.text }}</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview"
                                            (click)="preview('deposits', deposit.key)" data-toggle="modal" data-target="#previewModalReferral"><i
                                                class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="referral_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ referral_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', referral_paginator, 'deposit', 'referral')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ referral_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', referral_paginator, 'deposit', 'referral')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of referral_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'referral')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ referral_paginator.deposits.current < referral_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', referral_paginator, 'deposit', 'referral')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ referral_paginator.deposits.current < referral_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', referral_paginator, 'deposit', 'referral')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModalReferral" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{ modal.bg }} text-{{ modal.txt }}">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
                <table *ngIf="preview_data !== null" class="table table-bordered">
                    <tr *ngFor="let item of preview_data | keyvalue">
                        <td *ngIf="item.key !== 'item_id'">{{ item.key | titlecase }}</td>
                        <td *ngIf="item.key !== 'item_id'" [innerHTML]="item.value" class="break-word bold"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
