@import '../../../assets/scss/variables';

.auth-body {
    height: 80vh;
}
.title {
    font-size: 2em;
    padding: 10px 0;
    color: #1d2d35;

    strong {
        font-weight: 800;
        color: $primary;
    }
}
