<div class="auth-body row justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="row justify-content-center">
            <div class="title">
                <strong>C.A.</strong>System
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" placeholder="email address" aria-describedby="helpEmail">
                    <small id="helpEmail" class="text-muted" [innerHTML]="helpEmail"></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="password" aria-describedby="helpPassword" (keydown)="onInput($event)">
                    <small id="helpPassword" class="text-muted" [innerHTML]="helpPassword"></small>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberme" [(ngModel)]="rememberme">
                    <label class="form-check-label" for="rememberme">
                        Remember Me
                    </label>
                </div>
                <br>
                <button type="button" class="btn btn-raised btn-primary btn-block {{ btnDisable }}" (click)="login()">Sign In</button>
            </div>
        </div>
    </div>
</div>
