<div class="col-12">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success btn-raised float-right" data-toggle="modal" data-target="#addModal" (click)="addModal()"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
            </div>
        </div>
        <ul *ngIf="sites !== null" class="list-unstyled">
            <div *ngFor="let item of sites | keyvalue" class="media">
                <div class="media-body">
                    <button *ngIf="item.value.status === 1" type="button" class="btn btn-danger btn-raised float-right"
                        (click)="changeStatus(item.key)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button *ngIf="item.value.status === 0" type="button" class="btn btn-success btn-raised float-right"
                        (click)="changeStatus(item.key)"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-info btn-raised float-right" (click)="editModal(item.key)"
                        data-toggle="modal" data-target="#modalEdit"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <h5 class="{{ item.value.status === 1 ? '' : 'deleted' }}">{{ item.value.site_name }}</h5>
                    <p>
                        <a href="{{ item.value.site_url }}" target="_#">{{ item.value.site_url }}</a>
                        <small>By <b>{{ item.value.admin_info.name }}</b> at {{ item.value.updated_at | amCalendar }}</small>
                    </p>
                </div>
            </div>
        </ul>
    </div>
</div>

<div *ngIf="new_data !== null" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">New Site</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="site_name">Site Name</label>
                            <input type="text" name="site_name" id="site_name" class="form-control" placeholder=""
                                [(ngModel)]="new_data.site_name">
                        </div>
                        <div class="form-group">
                            <label for="site_url">Site URL</label>
                            <input type="url" name="site_url" id="site_url" class="form-control" placeholder=""
                                [(ngModel)]="new_data.site_url">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-raised" (click)="add()">Create</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="preview_data !== null" class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modelTitleId">Site Info</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="site_name">Site Name</label>
                            <input type="text" name="site_name" id="site_name" class="form-control" placeholder=""
                                [(ngModel)]="preview_data.site_name">
                        </div>
                        <div class="form-group">
                            <label for="site_url">Site URL</label>
                            <input type="url" name="site_url" id="site_url" class="form-control" placeholder=""
                                [(ngModel)]="preview_data.site_url">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <tr>
                                <td>Modified By</td>
                                <td><b>{{ preview_data.admin_info.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Created At</td>
                                <td><b>{{ preview_data.created_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                            <tr>
                                <td>Updated At</td>
                                <td><b>{{ preview_data.updated_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-raised" (click)="update()">Update</button>
            </div>
        </div>
    </div>
</div>
