<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <div class="text-center text-primary"><b>Pending: Need to Add More Details</b></div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-all-deposit-tab" data-toggle="tab" href="#nav-all-deposit"
                    role="tab" aria-controls="nav-all-deposit" aria-selected="true">Deposits</a>
                <a class="nav-item nav-link" id="nav-all-withdrawal-tab" data-toggle="tab" href="#nav-all-withdrawal"
                    role="tab" aria-controls="nav-all-withdrawal" aria-selected="false">Withdrawals</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContentAll">
            <div class="tab-pane fade show active" id="nav-all-deposit" role="tabpanel" aria-labelledby="nav-all-deposit-tab">
                <div class="col-12">
                    <div *ngIf="all_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Gained From</th>
                                    <!-- <th>Status</th> -->
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="all_histories['deposits'].length === 0">
                                <tr>
                                    <td colspan="5" class="text-center"><i class="fa fa-cog fa-spin fa-2x"></i> <br> This is not yet updated. Cronjob is necessary to update this part.</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="all_histories['deposits'].length > 0">
                                <tr *ngFor="let deposit of all_histories['deposits'] | keyvalue">
                                    <td><b>{{ deposit.value.type }}</b></td>
                                    <td>{{ deposit.value.amount | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.created_at | amDateFormat:'LL' }}</td>
                                    <td>
                                        <span *ngIf="deposit.value.other_user === null">N/A</span>
                                        <b *ngIf="deposit.value.other_user !== null" (click)="gotoAccount(deposit.value.other_user.id)">{{ deposit.value.other_user.name }}</b></td>
                                    <!-- <td><b><span class="text-success">Completed</span></b></td> -->
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview"
                                            (click)="preview('deposits', deposit.key)" data-toggle="modal" data-target="#previewModalAll"><i
                                                class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="all_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', all_paginator, 'deposit', 'all')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', all_paginator, 'deposit', 'all')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of all_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'all')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.deposits.current < all_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', all_paginator, 'deposit', 'all')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.deposits.current < all_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', all_paginator, 'deposit', 'all')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-all-withdrawal" role="tabpanel" aria-labelledby="nav-all-withdrawal-tab">
                <div class="col-12">
                    <div *ngIf="all_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Provided To</th>
                                    <!-- <th>Status</th> -->
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="all_histories['deposits'].length === 0">
                                <tr>
                                    <td colspan="5" class="text-center"><i class="fa fa-cog fa-spin fa-2x"></i> <br> This is not yet updated. Cronjob is necessary to update this part.</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="all_histories['deposits'].length > 0">
                                <tr *ngFor="let withdrawal of all_histories['withdrawals'] | keyvalue">
                                    <td><b>{{ withdrawal.value.type }}</b></td>
                                    <td>{{ withdrawal.value.amount | number:'1.0-8' }}</td>
                                    <td>{{ withdrawal.value.created_at | amDateFormat:'LL' }}</td>
                                    <td>
                                        <span *ngIf="withdrawal.value.other_user === null">N/A</span>
                                        <b *ngIf="withdrawal.value.other_user !== null" (click)="gotoAccount(withdrawal.value.other_user.id)">{{ withdrawal.value.other_user.name }}</b></td>
                                    <!-- <td><b><span class="text-success">Completed</span></b></td> -->
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview"
                                            (click)="preview('withdrawals', withdrawal.key)" data-toggle="modal"
                                            data-target="#previewModalAll"><i class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="all_paginator.withdrawals !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', all_paginator, 'withdrawal', 'all')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', all_paginator, 'withdrawal', 'all')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of all_paginator.withdrawals.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'withdrawal', 'all')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.withdrawals.current < all_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('next', all_paginator, 'withdrawal', 'all')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ all_paginator.withdrawals.current < all_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('end', all_paginator, 'withdrawal', 'all')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModalAll" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{ modal.bg }} text-{{ modal.txt }}">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
                <table *ngIf="preview_data !== null" class="table table-bordered">
                    <tr *ngFor="let item of preview_data | keyvalue">
                        <td *ngIf="item.key !== 'item_id'">{{ item.key | titlecase }}</td>
                        <td *ngIf="item.key !== 'item_id'" [innerHTML]="item.value" class="break-word bold"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
