<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <div class="card border-primary">
                <div class="card-header">
                    <b>Beta Messenger</b>
                    <form class="form-inline float-right no-margin">
                        <div class="form-group">
                            <input type="search" name="search" value="" placeholder="Search user..." class="form-control">
                            <button class="btn btn-primary btn-raised">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-4 full">
                            <ul *ngIf="contacts !== null" class="list-unstyled">
                                <li *ngFor="let item of contacts.unlisted" class="media lined padding-vertical btn text-left" (click)="openConversation(item, true)">
                                    <img class="mr-3 rounded-circle" [src]="_global.getAvatar(item.sender_info.id)" alt="" width="50" height="auto">
                                    <div class="media-body text-nowrap">
                                        <h6 class="mt-0 mb-1 text-nowrap text-reset text-{{ item.sender_info.online_status.type }}">
                                            {{ item.sender_info.name }}
                                        </h6>
                                        <small *ngIf="item.message !== null" class="text-nowrap text-reset {{ item.is_seen === 0 ? 'text-bold' : '' }}">{{ removeBR(item.message) }}</small>
                                    </div>
                                </li>
                                <hr>
                            </ul>
                            <ul *ngIf="contacts !== null" class="list-unstyled">
                                <li *ngFor="let item of contacts.listed" class="media lined padding-vertical btn text-left" (click)="openConversation(item)">
                                    <img class="mr-3 rounded-circle" [src]="_global.getAvatar(item.contact_id)" alt="" width="50" height="auto">
                                    <div class="media-body text-nowrap">
                                        <h6 class="mt-0 mb-1 text-nowrap text-reset text-{{ item.online_status.type }}">
                                            {{ item.name }}
                                        </h6>
                                        <small *ngIf="item.latest_message !== null" class="text-nowrap text-reset {{ item.latest_message.is_seen === 0 ? 'text-bold' : '' }}">{{ removeBR(item.latest_message.message) }}</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-8" style="max-height: 70vh;">
                            <ul *ngIf="selected_contact !== null" class="list-unstyled">
                                <li class="media lined padding-vertical btn text-left">
                                    <img class="mr-3 rounded-circle" [src]="_global.getAvatar(selected_contact.user_id)" alt="" width="50" height="auto">
                                    <div class="media-body text-nowrap">
                                        <h6 class="mt-0 mb-1 text-nowrap text-reset text-{{ selected_contact.online_status.type }}">
                                            {{ selected_contact.name }}
                                        </h6>
                                        <small>{{ selected_contact.email }}</small>
                                    </div>
                                </li>
                            </ul>
                            <div *ngIf="conversations !== null" class="row align-items-end lined padding-vertical" style="height: 75%; overflow-y: auto;">
                                <div class="col-12" style="height: 100%;">
                                    <div *ngFor="let item of conversations" class="row justify-content-{{ item.from === user.user_id ? 'end' : 'start' }}">
                                        <span class="col col-auto {{ item.from === user.user_id ? 'sent' : 'received' }}" [innerHTML]="item.message"></span>
                                    </div>
                                    <div *ngIf="conversations.length === 0" class="text-center">Start Conversation</div>
                                </div>
                            </div>
                            <div *ngIf="conversations !== null" class="row ">
                                <div class="input-group mb-3">
                                    <textarea rows="5" cols="" class="form-control" placeholder="Send message" aria-label="Send message" (keyup)="keyPress($event)" aria-describedby="basic-addon2" [(ngModel)]="message"></textarea>
                                    <div class="input-group-append">
                                        <button *ngIf="!sending" class="btn btn-outline-success btn-raised" type="button" (click)="send()"><i class="fa fa-send" aria-hidden="true"></i></button>
                                        <button *ngIf="sending" class="btn btn-outline-success btn-raised" type="button"><i class="fa fa-cog fa-spin" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
