.bmd-layout-container {
    height: 85vh !important;
}
.bmd-form-group {
    padding: 0px !important;
}

.full {
    height: 70vh;
    overflow-y: auto;

    ::-webkit-scrollbar {
        width: 0.2em;
    }
}

.text-bold {
    font-weight: 600;
}

.text-reset {
    text-transform: none !important;
}

.sent {
    background: #b0bec5;
    color: #000;
    padding: 8px !important;
    border-radius: 8px !important;
    margin-left: 20%;
    width: fit-content;
}

.received {
    background: #03a9f4;
    color: #FFF;
    padding: 8px !important;
    border-radius: 8px !important;
    margin-right: 20%;
    width: fit-content;
}
