<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-task-deposit-tab" data-toggle="tab" href="#nav-task-deposit" role="tab"
                    aria-controls="nav-task-deposit" aria-selected="true">Deposits</a>
                <a class="nav-item nav-link" id="nav-task-withdrawal-tab" data-toggle="tab" href="#nav-task-withdrawal" role="tab"
                    aria-controls="nav-task-withdrawal" aria-selected="false">Withdrawals</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContentTask">
            <div class="tab-pane fade show active" id="nav-task-deposit" role="tabpanel" aria-labelledby="nav-task-deposit-tab">
                <div class="col-12">
                    <div *ngIf="task_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Creator</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposit of task_histories['deposits'] | keyvalue">
                                    <td><b>Competed Task</b></td>
                                    <td>{{ deposit.value.reward | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b (click)="gotoAccount(deposit.value.creator.id)">{{ deposit.value.creator.name }}</b></td>
                                    <td><b><span class="text-{{ deposit.value.bank_status.type }}">{{ deposit.value.bank_status.text | titlecase }}</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview" (click)="preview('deposits', deposit.key)"
                                            data-toggle="modal" data-target="#previewModalTask"><i class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="task_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', task_paginator, 'deposit', 'task')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', task_paginator, 'deposit', 'task')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of task_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'task')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.deposits.current < task_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', task_paginator, 'deposit', 'task')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.deposits.current < task_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', task_paginator, 'deposit', 'task')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-task-withdrawal" role="tabpanel" aria-labelledby="nav-task-withdrawal-tab">
                <div class="col-12">
                    <div *ngIf="task_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Completer</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let withdrawal of task_histories['withdrawals'] | keyvalue">
                                    <td><b>Created Task</b></td>
                                    <td>{{ withdrawal.value.reward | number:'1.0-8' }}</td>
                                    <td>{{ withdrawal.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b (click)="gotoAccount(withdrawal.value.completer.id)">{{ withdrawal.value.completer.name }}</b></td>
                                    <td><b><span class="text-{{ withdrawal.value.bank_status.type }}">{{ withdrawal.value.bank_status.text | titlecase }}</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview" (click)="preview('withdrawals', withdrawal.key)"
                                            data-toggle="modal" data-target="#previewModalTask"><i class="fa fa-eye"></i></button>
                                        <button *ngIf="withdrawal.value.status === 0" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Cancel" (click)="cancel(withdrawal.key)"><i class="fa fa-ban"></i></button>
                                        <button *ngIf="withdrawal.value.status === 10" type="button" class="btn btn-success btn-raised btn-sm"
                                            title="Approve" (click)="approve(withdrawal.key)"><i class="fa fa-check-circle"></i></button>
                                        <button *ngIf="withdrawal.value.status === 10" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Decline" (click)="decline(withdrawal.key)"><i class="fa fa-times-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="task_paginator.withdrawals !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', task_paginator, 'withdrawal', 'task')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', task_paginator, 'withdrawal', 'task')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of task_paginator.withdrawals.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'withdrawal', 'task')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.withdrawals.current < task_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('next', task_paginator, 'withdrawal', 'task')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ task_paginator.withdrawals.current < task_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('end', task_paginator, 'withdrawal', 'task')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModalTask" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{ modal.bg }} text-{{ modal.txt }}">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
                <table *ngIf="preview_data !== null" class="table table-bordered">
                    <tr *ngFor="let item of preview_data | keyvalue">
                        <td *ngIf="item.key !== 'item_id'">{{ item.key | titlecase }}</td>
                        <td *ngIf="item.key !== 'item_id'" [innerHTML]="item.value" class="break-word bold"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
