<div id="account" *ngIf="data.scope === 'account'; else list">
    <div *ngIf="account !== null">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <img src="{{ user_avatar }}" class="img img-responsive img-circle" alt="{{ account.username }}" width="150" height="150" (error)="updateUserAvatar()">
                        </div>
                        <hr>
                        <b class="text-warning">{{ account.name }}</b> <br>
                        <small>{{ account.username }}</small> <br>
                        <small><b>{{ account.email }}</b></small>
                        <div class="card text-center m-0">
                            <div class="card-body p-1">
                                <div class="btn-group" role="group" aria-label="Copy Referral Code">
                                    <button (click)="copyRefCode(account.ref_code)" type="button" class="btn btn-sm btn-raised btn-warning"><i title="Copy Referral Code" class="fa fa-copy" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-secondary"><b>{{ account.ref_code }}</b></button>
                                    <button (click)="copyRefCode(account.ref_code, true)" type="button" class="btn btn-sm btn-raised btn-warning"><i title="Copy Referral Code URL" class="fa fa-link" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-bordered">
                            <tr>
                                <td>UserID</td>
                                <td><b>{{ account.id }}</b></td>
                            </tr>
                            <tr>
                                <td>Registered</td>
                                <td><b>{{ account.created_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                            <tr *ngIf="account.referred_by !== null">
                                <td>Referred By</td>
                                <td><b class="text-info"><a (click)="gotoAccount(account.referred_by.id)">{{ account.referred_by.name }}</a></b> <br> {{ account.referred_by.email }}</td>
                            </tr>
                            <tr>
                                <td>Account Type</td>
                                <td><b class="text-{{ accountType(account.type).type }}">{{ accountType(account.type).text | titlecase }}</b></td>
                            </tr>
                            <tr>
                                <td>About</td>
                                <td class="break-word"><b>{{ account.about }}</b></td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td><b>{{ account.location }} {{ account.country }}</b></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td><b><span class="text-{{ userStatus(account.id).type }}">{{ userStatus(account.id).text | titlecase }}</span></b></td>
                            </tr>
                            <tr *ngIf="account.verification_resend_count > 0">
                                <td>Resent Verification</td>
                                <td [innerHTML]="resentVerificationRecord()"></td>
                            </tr>
                            <tr class="break-word" *ngIf="account.ban_reasons !== null">
                                <td>Ban Reasons</td>
                                <td [innerHTML]="banReasons()"></td>
                            </tr>
                            <tr class="break-word" *ngIf="account.disable_reasons !== null">
                                <td>Disable Reasons</td>
                                <td [innerHTML]="disableReasons()"></td>
                            </tr>
                            <tr>
                                <td>Last Used IP</td>
                                <td><b>{{ account.last_ip }}</b></td>
                            </tr>
                        </table>
                        <hr>
                        <div *ngIf="controlOptions !== null">
                            <button (click)="resendVerification(account.id)" *ngIf="controlOptions.resend === 1" type="button" class="btn btn-info btn-raised btn-block {{ btn_disabled }}">Resend Verification</button>
                            <button (click)="verify(account.id)" *ngIf="controlOptions.verify === 1" type="button" class="btn btn-primary btn-raised btn-block {{ btn_disabled }}">Verify</button>
                            <!-- <b (click)="resendVerification(account.id)"utton *ngIf="controlOptions.require_sm === 1" type="button" class="btn btn-warning btn-raised btn-block">Require SM</button> -->
                            <button (click)="activate(account.id)" *ngIf="controlOptions.activate === 1" type="button" class="btn btn-success btn-raised btn-block {{ btn_disabled }}">Activate</button>
                            <button (click)="openDisableModal(account.id)" *ngIf="controlOptions.disable === 1" data-toggle="modal" data-target="#disableModal" type="button" class="btn btn-danger btn-raised btn-block {{ btn_disabled }}">Disable</button>
                            <button (click)="openBanModal(account.id)" *ngIf="controlOptions.ban === 1" data-toggle="modal" data-target="#disableModal" type="button" class="btn btn-danger btn-raised btn-block {{ btn_disabled }}">Ban</button>
                            <button (click)="openUnban(account.id)" *ngIf="controlOptions.unban === 1" type="button" class="btn btn-success btn-raised btn-block {{ btn_disabled }}">Unban</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <app-summary></app-summary>
            </div>
        </div>
    </div>
</div>

<ng-template #list>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="form-group search-input">
                <div class="input-group">
                    <input type="search" name="filter" [(ngModel)]="filter" class="form-control" placeholder="ID|Name|Email|Username"
                        aria-label="Search" (keydown)="onInput($event)">
                    <div class="input-group-append">
                        <button (click)="search()" class="btn btn-outline-success" type="button">Search</button>
                    </div>
                </div>
            </div>
            <p class="form-text text-muted small" [innerHTML]="search_result"></p>
        </div>
    </div>
    <div class="row h-50 justify-content-center">
        <div class="table-auto-responsive">
            <table class="table table-striped table-hover" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Registered Date</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | keyvalue">
                        <td [innerHTML]="user.value.name"></td>
                        <td [innerHTML]="user.value.email"></td>
                        <td [innerHTML]="user.value.ip"></td>
                        <td [innerHTML]="user.value.status"></td>
                        <td>{{ user.value.registered_date | amCalendar }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Option
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a *ngIf="user.value.options.account === 1" routerLink="/kryptonia/user/{{ user.value.user_id }}/account" class="dropdown-item" type="button"><i
                                            class="fa fa-user-secret" aria-hidden="true"></i> Account</a>
                                    <!-- <button *ngIf="user.value.options.profile === 1" class="dropdown-item" type="button"><i
                                            class="fa fa-user" aria-hidden="true"></i> Profile</button> -->
                                    <button *ngIf="user.value.options.sendVerification === 1" (click)="resendVerification(user.value.user_id)" class="dropdown-item" type="button">Send
                                        Verification</button>
                                    <button *ngIf="user.value.options.sendVerification === 1" (click)="verify(user.value.user_id)"
                                        class="dropdown-item" type="button"><i class="fa fa-check-square" aria-hidden="true"></i>
                                        Verify</button>
                                    <!-- <button *ngIf="user.value.options.require_sm === 1" (click)="requireSM(user.value.user_id)" class="dropdown-item" type="button"><i
                                            class="fa fa-warning" aria-hidden="true"></i> Require SM</button> -->
                                    <button *ngIf="user.value.options.activate === 1 && user.value.options.unban === 0"
                                        (click)="activate(user.value.user_id)" class="dropdown-item" type="button"><i class="fa fa-check" aria-hidden="true"></i>
                                        Activate</button>
                                    <button *ngIf="user.value.options.disable === 1 && user.value.options.unban === 0"
                                        (click)="openDisableModal(user.value.user_id)" data-toggle="modal" data-target="#disableModal"
                                        class="dropdown-item" type="button"><i class="fa fa-times" aria-hidden="true"></i>
                                        Disable</button>
                                    <button *ngIf="user.value.options.unban === 1" (click)="openUnban(user.value.user_id)" class="dropdown-item" type="button"><i
                                            class="fa fa-check-circle" aria-hidden="true"></i> Unban</button>
                                    <button *ngIf="user.value.options.unban === 0" (click)="openBanModal(user.value.user_id)" data-toggle="modal" data-target="#disableModal" class="dropdown-item" type="button"><i
                                            class="fa fa-ban" aria-hidden="true"></i> Ban</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">{{ temp.modal_title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeDisableModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure to disable <b>{{ temp.email }}</b>'s account?
                        <hr>
                        <div class="form-group">
                            <label for="reason">Reason</label>
                            <textarea rows="10" cols="1" class="form-control" name="reason" [(ngModel)]="reason"></textarea>
                            <small id="helpReason" class="text-muted">Reason is required.</small>
                        </div>
                    </div>
                    <p class="form-text text-info small text-center">
                        {{ temp.status_text }}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="temp.banned === true" type="button" class="btn btn-warning" (click)="disable(temp.disabled)">Confirm Disable</button>
                <button *ngIf="temp.banned === false" type="button" class="btn btn-danger" (click)="ban_change(temp.disabled)">Confirm Ban</button>
            </div>
        </div>
    </div>
</div>
