<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-header">
                All Users
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ users['all'] }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-header">
                Active Users
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ users['active'] }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info text-white">
            <div class="card-header">
                New Users <small>(1 week)</small>
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ users['new'] }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-white">
            <div class="card-header">
                Requested Users
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ users['requested'] }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-primary text-white">
            <div class="card-header">
                All Tasks
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ tasks['all'] }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white">
            <div class="card-header">
                Active Task
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ tasks['active'] }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-info text-white">
            <div class="card-header">
                New Tasks <small>(Today)</small>
            </div>
            <div class="card-body text-center">
                <strong class="h1">{{ tasks['new'] }}</strong>
            </div>
        </div>
    </div>
</div>
