<nav>
    <div class="nav nav-tabs bg-primary" id="nav-tab" role="tablist">
        <a class="nav-item nav-link {{ tabs['bank'] }}" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank"
            aria-selected="true">Bank</a>
        <a class="nav-item nav-link {{ tabs['activities'] }}" id="nav-activities-tab" data-toggle="tab" href="#nav-activities" role="tab" aria-controls="nav-activities"
            aria-selected="false" (click)="activitiesSummary()">Activities</a>
        <a class="nav-item nav-link {{ tabs['referrals'] }}" id="nav-referrals-tab" data-toggle="tab" href="#nav-referrals" role="tab" aria-controls="nav-referrals"
            aria-selected="false" (click)="referralSummary()">Referrals</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show {{ tabs['bank'] }}" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
        <div class="row justify-content-center" *ngIf="balances !== null">
            <div class="col-md-4" *ngFor="let b_name of balance_names">
                <div class="card bg-primary text-white">
                    <div class="card-header"><b>{{ b_name | titlecase }}</b></div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h2>{{ balances[b_name] }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card text-center small text-muted p-2">{{ bank_address }}</div>
            </div>
            <div class="p-2 mb-1 bg-info text-white text-right w-100"><small>Latest Updated at</small> {{ balances.updated_at | amCalendar }}
                <a routerLink="/kryptonia/user/{{ user_id }}/bank-history" class="btn btn-sm btn-secondary btn-raised">View History</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show {{ tabs['activities'] }}" id="nav-activities" role="tabpanel" aria-labelledby="nav-activities-tab">
        <div *ngIf="activities !== null" class="row justify-content-center">
            <div class="table-auto-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>DateTime</th>
                            <th>Action</th>
                            <th>IP</th>
                            <th>Device</th>
                            <th>UA</th>
                            <th>URI</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of activities">
                            <td>{{ item.datetime | amCalendar }}</td>
                            <td [innerHTML]="item.action"></td>
                            <td [innerHTML]="item.ip"></td>
                            <td [innerHTML]="item.device | titlecase"></td>
                            <td [innerHTML]="item.ua" class="break-word"></td>
                            <td [innerHTML]="item.uri" class="break-word"></td>
                            <td [innerHTML]="item.status | titlecase"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="has_mode_activities" class="p-2 mb-1 bg-info text-white text-right w-100">
                <a routerLink="/kryptonia/user/{{ user_id }}/activities" class="btn btn-sm btn-secondary btn-raised">View More</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show {{ tabs['referrals'] }}" id="nav-referrals" role="tabpanel" aria-labelledby="nav-referrals-tab">
        <div *ngIf="referrals !== null" class="row justify-content-center">
            <div class="table-auto-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Registered Date</th>
                            <th>Points Earned</th>
                            <th>Signup Reward</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ref of referrals | keyvalue">
                            <td>
                                <a routerLink="/kryptonia/user/{{ ref.value.name.id }}/account"><b class="text-info">{{ ref.value.name.name }}</b> <br> <small>{{ ref.value.name.username }}</small></a>
                            </td>
                            <td [innerHTML]="ref.value.status"></td>
                            <td>{{ ref.value.registered_at | amCalendar }}</td>
                            <td [innerHTML]="ref.value.points"></td>
                            <td [innerHTML]="ref.value.rewards"></td>
                            <td>
                                <button (click)="previewReferral(ref.key)" data-toggle="modal" data-target="#referralPreview" type="button" class="btn btn-info btn-raised btn-sm" title="Preview"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="has_more_referrals" class="p-2 mb-1 bg-info text-white text-right w-100">
                Total: <b>{{ total.points + total.rewards }}</b> | Points: <b>{{ total.points }}</b> | Rewards: <b>{{ total.rewards }}</b> &nbsp;
                <a routerLink="/kryptonia/user/{{ user_id }}/referrals" class="btn btn-sm btn-secondary btn-raised">View More</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="referral_item !== null" class="modal fade" id="referralPreview" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Referral Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <img src="{{ user_avatar }}" alt="{{ referral_item.name.username }}" class="img imt-responsive img-circle m-1" width="150" height="150 " (error)="updateUserAvatar()">
                    <br class="p-5">
                    <div class="table auto-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Name</td>
                                <td><b>{{ referral_item.name.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td><b>{{ referral_item.name.username }}</b></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><b>{{ referral_item.name.email }}</b></td>
                            </tr>
                            <tr>
                                <td>User Status</td>
                                <td><b><span class="text-{{ referral_item.user_status.type }}">{{ referral_item.user_status.text }}</span></b></td>
                            </tr>
                            <tr>
                                <td>Registered Date</td>
                                <td><b>{{ referral_item.registered_at | amCalendar }}</b></td>
                            </tr>
                            <tr>
                                <td>Referral Code</td>
                                <td><b>{{ referral_item.name.ref_code }}</b></td>
                            </tr>
                            <tr>
                                <td>Referral Count</td>
                                <td><b>{{ referral_item.second_level.length }}</b> <sup>Second Level</sup></td>
                            </tr>
                            <tr>
                                <td>Earned Points</td>
                                <td [innerHTML]="referral_item.points"></td>
                            </tr>
                            <tr>
                                <td>Signup Reward</td>
                                <td [innerHTML]="referral_item.rewards"></td>
                            </tr>
                            <tr>
                                <td>Referral Status</td>
                                <td><b [innerHTML]="referral_item.status"></b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
