<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-basic-deposit-tab" data-toggle="tab" href="#nav-basic-deposit" role="tab" aria-controls="nav-basic-deposit"
                aria-selected="true">Deposits</a>
                <a class="nav-item nav-link" id="nav-basic-withdrawal-tab" data-toggle="tab" href="#nav-basic-withdrawal" role="tab" aria-controls="nav-basic-withdrawal"
                aria-selected="false">Withdrawals</a>
                <a class="nav-item nav-link" id="nav-basic-refund-tab" data-toggle="tab" href="#nav-basic-refund" role="tab" aria-controls="nav-basic-refund"
                aria-selected="false">Refunds</a>
            </div>
        </nav>
    </div>
    <div class="card-body p-1">
        <div class="tab-content" id="nav-tabContentBasic">
            <div class="tab-pane fade show active" id="nav-basic-deposit" role="tabpanel" aria-labelledby="nav-basic-deposit-tab">
                <div class="col-12">
                    <div *ngIf="basic_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposit of basic_histories['deposits'] | keyvalue">
                                    <td><b>SUP DEP</b></td>
                                    <td>{{ deposit.value.coins | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b><span class="text-success">Received</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview" (click)="preview('deposits', deposit.key)"
                                            data-toggle="modal" data-target="#previewModalBasic"><i class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="basic_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', basic_paginator, 'deposit', 'basic')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', basic_paginator, 'deposit', 'basic')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of basic_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'basic')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.deposits.current < basic_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', basic_paginator, 'deposit', 'basic')"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.deposits.current < basic_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', basic_paginator, 'deposit', 'basic')"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-basic-withdrawal" role="tabpanel" aria-labelledby="nav-basic-withdrawal-tab">
                <div class="col-12">
                    <div *ngIf="basic_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let withdrawal of basic_histories['withdrawals'] | keyvalue">
                                    <td><b>SUP W/D</b></td>
                                    <td>{{ withdrawal.value.balance | number:'1.0-8' }}</td>
                                    <td>{{ withdrawal.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b><span class="text-{{ withdrawal.value.status_info.type }}">{{ withdrawal.value.status_info.text | titlecase }}</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview" (click)="preview('withdrawals', withdrawal.key)"
                                            data-toggle="modal" data-target="#previewModalBasic"><i class="fa fa-eye"></i></button>
                                        <button *ngIf="withdrawal.value.status === 0" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Cancel" (click)="cancel(withdrawal.key)"><i class="fa fa-ban"></i></button>
                                        <button *ngIf="withdrawal.value.status === 10" type="button" class="btn btn-success btn-raised btn-sm"
                                            title="Approve" (click)="approve(withdrawal.key)"><i class="fa fa-check-circle"></i></button>
                                        <button *ngIf="withdrawal.value.status === 10" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Decline" (click)="decline(withdrawal.key)"><i class="fa fa-times-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="basic_paginator.withdrawals !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', basic_paginator, 'withdrawal', 'basic')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', basic_paginator, 'withdrawal', 'basic')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of basic_paginator.withdrawals.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'withdrawal', 'basic')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.withdrawals.current < basic_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('next', basic_paginator, 'withdrawal', 'basic')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.withdrawals.current < basic_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('end', basic_paginator, 'withdrawal', 'basic')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-basic-refund" role="tabpanel" aria-labelledby="nav-basic-refund-tab">
                <div class="col-12">
                    <div *ngIf="basic_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let refund of basic_histories['refunds'] | keyvalue">
                                    <td><b>SUP W/D</b></td>
                                    <td>{{ refund.value.balance | number:'1.0-8' }}</td>
                                    <td>{{ refund.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b><span class="text-{{ refund.value.status_info.type }}">{{ refund.value.status_info.text | titlecase }}</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview" (click)="preview('refunds', refund.key)"
                                            data-toggle="modal" data-target="#previewModalBasic"><i class="fa fa-eye"></i></button>
                                        <button *ngIf="refund.value.status === 0" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Cancel" (click)="cancel(refund.key)"><i class="fa fa-ban"></i></button>
                                        <button *ngIf="refund.value.status === 10" type="button" class="btn btn-success btn-raised btn-sm"
                                            title="Approve" (click)="approve(refund.key)"><i class="fa fa-check-circle"></i></button>
                                        <button *ngIf="refund.value.status === 10" type="button" class="btn btn-warning btn-raised btn-sm"
                                            title="Decline" (click)="decline(refund.key)"><i class="fa fa-times-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="basic_paginator.refunds !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.refunds.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', basic_paginator, 'refund', 'basic')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.refunds.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', basic_paginator, 'refund', 'basic')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of basic_paginator.refunds.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'refund', 'basic')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.refunds.current < basic_paginator.refunds.total ? '' : 'disabled' }}"
                                    (click)="pager('next', basic_paginator, 'refund', 'basic')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ basic_paginator.refunds.current < basic_paginator.refunds.total ? '' : 'disabled' }}"
                                    (click)="pager('end', basic_paginator, 'refund', 'basic')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModalBasic" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{ modal.bg }} text-{{ modal.txt }}">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
                <table *ngIf="preview_data !== null" class="table table-bordered">
                    <tr *ngFor="let item of preview_data | keyvalue">
                        <td *ngIf="item.key !== 'item_id'">{{ item.key | titlecase }}</td>
                        <td *ngIf="item.key !== 'item_id'" [innerHTML]="item.value" class="break-word bold"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
