<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>Master Wallet: <span class="text-primary float-right number">SUP {{ master_wallet | number:'1.8-8' }}</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav nav-tabs bg-primary" id="nav-tab" role="tablist">
                <a *ngFor="let nav of navs" class="nav-item nav-link {{ nav === 'sup-for-approval' ? 'active' : '' }}" id="nav-{{ nav }}-tab" data-toggle="tab" href="#nav-{{ nav }}" role="tab" (click)="getList(nav, 'deposit')">{{ nav | titlecase }}</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div *ngFor="let nav of navs" class="tab-pane padding fade {{ nav === 'sup-for-approval' ? 'show active' : '' }}" id="nav-{{ nav }}" role="tabpanel">
                <div class="row justify-content-between">
                    <div class="col-auto h4 pad-1-75">{{ nav | uppercase }}</div>
                    <div class="col-auto">
                        <div class="input-group mb-3">
                            <input type="search" name="search" [(ngModel)]="search_data.search" class="form-control" placeholder="Search User" aria-label="Search User"
                                aria-describedby="basic-addon2" (keydown)="onInput($event)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" (click)="getList(search_data.scope, search_data.type, 1, search_data.search)">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div *ngIf="scope === 'basic'" class="card-header pointer">
                        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" role="tab" (click)="getList(scope, 'deposit')">Deposit</a>
                            <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="getList(scope, 'withdrawal')">Withdrawal</a>
                            <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="getList(scope, 'refund')">Refund</a>
                        </div>
                    </div>
                    <div *ngIf="scope === 'task'" class="card-header pointer">
                        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" role="tab" (click)="getList(scope, 'completed')">Completed</a>
                            <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="getList(scope, 'revoked')">Revoked</a>
                        </div>
                    </div>
                    <div *ngIf="scope === 'referral'" class="card-header pointer">
                        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" role="tab" (click)="getList(scope, 'point')">Points</a>
                            <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="getList(scope, 'reward')">Rewards</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <app-common-history [histories]="histories" [paginator]="paginator" [scope]="scope" [loading]="loading"></app-common-history>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
