<div class="row justify-content-end">
    <div class="col-auto">
        <div class="input-group">
            <input type="search" name="search" class="form-control" placeholder="Search Title|Category">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-raised" type="button" aria-label=""><i class="fa fa-search" aria-hidden="true"></i></button>
                &nbsp;
                <button type="button" data-toggle="modal" data-target="#modalAdd" class="btn btn-success btn-raised"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Item</button>
            </span>
        </div>
    </div>
</div>
<hr>
<div *ngIf="categories !== null" class="row justify-content-center">
    <div *ngFor="let category of categories" class="col-md-6">
        <div class="card">
            <div class="card-header bg-info text-white">
                <b>{{ category }}</b>
            </div>
            <div class="card-body">
                <div class="row h-40">
                    <table class="table table-hover" *ngIf="faqs !== null && faqs[category].count > 0">
                        <tr *ngFor="let faq of faqs[category].items | keyvalue">
                            <td (click)="preview(category, faq.key)" data-toggle="modal" data-target="#modalPreview" class="middle pointer"><span class="{{ faq.value.is_deleted === 1 ? 'deleted' : '' }}">{{ faq.value.title }}</span></td>
                            <td align="right">
                                <a (click)="preview(category, faq.key)" data-toggle="modal" data-target="#modalPreview" class="btn btn-sm btn-raised btn-default"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a (click)="editModal(category, faq.key)" data-toggle="modal" data-target="#modalUpdate" class="btn btn-sm btn-raised btn-info"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="preview_data !== null" class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h4 class="modal-title" id="modelTitleId">
                    {{ preview_data.title }} <br>
                    <small>{{ preview_data.category }}</small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row h-100">
                    <div class="col-12">
                        <p [innerHTML]="preview_data.content"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td>Updater</td>
                                <td><b>{{ preview_data.admin_info.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Crreated At</td>
                                <td><b>{{ preview_data.created_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                            <tr>
                                <td>Updated At</td>
                                <td><b>{{ preview_data.updated_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td>Is Deleted</td>
                                <td><b><span class="text-{{ preview_data.deleted_info.type }}">{{ preview_data.deleted_info.text | uppercase }}</span></b> &nbsp; <button *ngIf="preview_data.is_deleted === 0" type="button" (click)="trash(preview_data)" class='btn btn-danger btn-sm'><i class="fa fa-trash" aria-hidden="true"></i> Trash</button></td>
                            </tr>
                            <tr>
                                <td>Deleter</td>
                                <td><b *ngIf="preview_data.deleter_info !== null">{{ preview_data.deleter_info.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Deleted At</td>
                                <td><b *ngIf="preview_data.deleted_at !== null">{{ preview_data.deleted_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h4 class="modal-title" id="modelTitleId">Add New Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" name="category" [(ngModel)]="new_data.category" class="form-control" autocomplete="on">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" [(ngModel)]="new_data.title" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row h-40">
                    <div class="col-12">
                        <ngx-wig [(ngModel)]="new_data.content" [placeholder]="'Start Here.'" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="add()" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="preview_data !== null" class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title" id="modelTitleId">
                    {{ update_data.title }} <br>
                    <small>{{ update_data.category }}</small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" name="category" [(ngModel)]="update_data.category" class="form-control"
                                autocomplete="on">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" [(ngModel)]="update_data.title" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row h-40">
                    <div class="col-12">
                        <ngx-wig [(ngModel)]="update_data.content" [placeholder]="'Start Here.'" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td>Updater</td>
                                <td><b>{{ preview_data.admin_info.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Crreated At</td>
                                <td><b>{{ preview_data.created_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                            <tr>
                                <td>Updated At</td>
                                <td><b>{{ preview_data.updated_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td>Is Deleted</td>
                                <td><b><span class="text-{{ preview_data.deleted_info.type }}">{{ preview_data.deleted_info.text | uppercase }}</span></b> &nbsp; <button *ngIf="preview_data.is_deleted === 0" type="button" (click)="trash(preview_data)" class='btn btn-danger btn-sm'><i class="fa fa-trash" aria-hidden="true"></i> Trash</button></td>
                            </tr>
                            <tr>
                                <td>Deleter</td>
                                <td><b *ngIf="preview_data.deleter_info !== null">{{ preview_data.deleter_info.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Deleted At</td>
                                <td><b *ngIf="preview_data.deleted_at !== null">{{ preview_data.deleted_at | amDateFormat:'LL' }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="update()" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>
