.h-40 {
    height: 40vh !important;
    max-height: 40vh !important;
    overflow-y: auto;
}

.h-100 {
    height: 60vh !important;
    max-height: 60vh !important;
    overflow-y: auto;
}

.middle {
    vertical-align: middle;
}

td {
    .btn {
        margin: 0 !important;
        padding: 2px 8px !important;
    }
}

.nw-editor {
    height: 70vh !important;
    min-height: 70vh !important;
    max-height: 70vh !important;
}
