<app-my-loading [loading]="loading"></app-my-loading>
<div *ngIf="histories !== null" class="table-auto-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th *ngIf="cols.user">User</th>
                <th *ngIf="cols.sender">Sender</th>
                <th *ngIf="cols.receiver">Receiver</th>
                <th *ngIf="cols.creator">Creator</th>
                <th *ngIf="cols.completer">Completer</th>
                <th *ngIf="cols.referrer">Referrer</th>
                <th *ngIf="cols.referral">Referral</th>
                <th *ngIf="cols.sm_name">SM Name</th>
                <th *ngIf="cols.sm_status">SM Status</th>
                <th *ngIf="cols.user_balance">Balance</th>
                <th>Status</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of histories | keyvalue">
                <td><b>{{ item.value.transaction_type }}</b></td>

                <td *ngIf="item.value.balance" class="number text-right">{{ item.value.balance | number:'1.0-8' }}</td>
                <td *ngIf="item.value.amount" class="number text-right">{{ item.value.amount | number:'1.0-8' }}</td>
                <td *ngIf="item.value.reward" class="number text-right">{{ item.value.reward | number:'1.0-8' }}</td>
                <td *ngIf="item.value.coin" class="number text-right">{{ item.value.coin | number:'1.0-8' }}</td>
                <td *ngIf="item.value.coins" class="number text-right">{{ item.value.coins | number:'1.0-8' }}</td>
                <td *ngIf="item.value.total_points" class="number text-right">{{ item.value.total_points | number:'1.0-8' }}</td>

                <td>{{ item.value.created_at | amDateFormat:'LL' }}</td>

                <td *ngIf="cols.user && item.value.user_info"><a (click)="gotoAccountBank(item.value.user_info.id)" class="text-primary pointer">{{ item.value.user_info.name }}</a></td>
                <td *ngIf="cols.sender && item.value.sender"><a (click)="gotoAccountBank(item.value.sender.id)" class="text-primary pointer">{{ item.value.sender.name }}</a></td>
                <td *ngIf="cols.receiver && item.value.receiver"><a (click)="gotoAccountBank(item.value.receiver.id)" class="text-primary pointer">{{ item.value.receiver.name }}</a></td>
                <td *ngIf="cols.creator && item.value.creator"><a (click)="gotoAccountBank(item.value.creator.id)" class="text-primary pointer">{{ item.value.creator.name }}</a></td>
                <td *ngIf="cols.completer && item.value.completer"><a (click)="gotoAccountBank(item.value.completer.id)" class="text-primary pointer">{{ item.value.completer.name }}</a></td>
                <td *ngIf="cols.referrer && item.value.referrer_info"><a (click)="gotoAccountBank(item.value.referrer_info.id)" class="text-primary pointer">{{ item.value.referrer_info.name }}</a></td>
                <td *ngIf="cols.referral && item.value.referral_info"><a (click)="gotoAccountBank(item.value.referral_info.id)" class="text-primary pointer">{{ item.value.referral_info.name }}</a></td>
                <td *ngIf="cols.sm_name && item.value.account_name">{{ item.value.account_name }}</td>
                <td *ngIf="cols.sm_status && item.value.social">{{ item.value.social }}</td>
                <td *ngIf="cols.user_balance && item.value.user_info && item.value.user_info.balance" class="number text-right">{{ item.value.user_info.balance.total | number:'1.0-8' }}</td>
                <td><span class="text-{{ item.value.status_info.type }}">{{ item.value.status_info.text | titlecase }}</span></td>
                <td>
                    <button type="button" class="btn btn-sm btn-raised btn-default" (click)="preview(item.key)" data-toggle="modal" data-target="#previewModal"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button *ngIf="$scope === 'sup-for-approval'" type="button" class="btn btn-sm btn-raised btn-success" (click)="approve(item.key)" data-toggle="modal" data-target="#previewModal"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <button *ngIf="$scope === 'sup-for-approval'" type="button" class="btn btn-sm btn-raised btn-danger" (click)="decline(item.key)" data-toggle="modal" data-target="#previewModal"><i class="fa fa-times" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-my-paginator [paginator]="paginator"></app-my-paginator>
</div>

<div *ngIf="preview_data" class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr *ngIf="preview_data.amount">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.amount | number:'1.0-8' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.balance">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.balance | number:'1.0-8' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.reward">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.reward | number:'1.0-8' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.coin">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.coin | number:'1.0-8' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.coins">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.coins | number:'1.0-8' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.total_points">
                        <td>Amount</td>
                        <td><b class="number">{{ preview_data.total_points | number:'1.0-8' }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.user_info">
                        <td>User</td>
                        <td><b>{{ preview_data.user_info.name }} <br> <small>{{ preview_data.user_info.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.creator">
                        <td>Creator</td>
                        <td><b>{{ preview_data.creator.name }} <br> <small>{{ preview_data.creator.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.completer">
                        <td>Completer</td>
                        <td><b>{{ preview_data.completer.name }} <br> <small>{{ preview_data.completer.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.sender">
                        <td>Sender</td>
                        <td><b>{{ preview_data.sender.name }} <br> <small>{{ preview_data.sender.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.receiver">
                        <td>Receiver</td>
                        <td><b>{{ preview_data.receiver.name }} <br> <small>{{ preview_data.receiver.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.referrer_info">
                        <td>Referrer</td>
                        <td><b>{{ preview_data.referrer_info.name }} <br> <small>{{ preview_data.referrer_info.email }}</small></b></td>
                    </tr>
                    <tr *ngIf="preview_data.referral_info">
                        <td>Referral</td>
                        <td><b>{{ preview_data.referral_info.name }} <br> <small>{{ preview_data.referral_info.email }}</small></b></td>
                    </tr>

                    <tr *ngIf="preview_data.user_info && preview_data.user_info.balance">
                        <td>Main Balance</td>
                        <td><b class="number">{{ preview_data.user_info.balance.total | number:'1.0-8' }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.block">
                        <td>Block</td>
                        <td><b class="number">{{ preview_data.block }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.ip_info">
                        <td>IP</td>
                        <td><b>{{ preview_data.ip_info.ip }} - {{ preview_data.ip_info.iso }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.address">
                        <td>Sender Address</td>
                        <td><input type="text" readonly class="form-control small" value="{{ preview_data.address }}"></td>
                    </tr>
                    <tr *ngIf="preview_data.send_address">
                        <td>Sender Address</td>
                        <td><input type="text" readonly class="form-control small" value="{{ preview_data.send_address }}"></td>
                    </tr>

                    <tr *ngIf="preview_data.txid">
                        <td>Txid</td>
                        <td><b class="break-word">{{ preview_data.txid }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.paymentid">
                        <td>PaymentID</td>
                        <td><b class="break-word">{{ preview_data.paymentid }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.recaddress">
                        <td>Receiver address</td>
                        <td><input type="text" readonly class="form-control small" value="{{ preview_data.recaddress }}"></td>
                    </tr>
                    <tr *ngIf="preview_data.rec_address">
                        <td>Receiver address</td>
                        <td><input type="text" readonly class="form-control small" value="{{ preview_data.rec_address }}"></td>
                    </tr>
                    <tr *ngIf="preview_data.recadd">
                        <td>Receiver address</td>
                        <td><input type="text" readonly class="form-control small" value="{{ preview_data.recadd }}"></td>
                    </tr>

                    <tr *ngIf="preview_data.description">
                        <td>Description</td>
                        <td><b class="break-word">{{ preview_data.description }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.task">
                        <td>Description</td>
                        <td>Title: <b class="break-word">{{ preview_data.task.title }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.memo">
                        <td>Memo</td>
                        <td><b class="break-word">{{ preview_data.memo }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.second_level">
                        <td>Second Level Count</td>
                        <td><b class="break-word">{{ preview_data.second_level.length }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.detail">
                        <td>Description</td>
                        <td><b class="break-word">{{ preview_data.detail }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.social">
                        <td>SM Type</td>
                        <td><b class="break-word">{{ preview_data.social }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.account_name">
                        <td>SM Name</td>
                        <td><b class="break-word">{{ preview_data.account_name }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.account_id">
                        <td>SM ID</td>
                        <td><b class="break-word">{{ preview_data.account_id }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.status_info">
                        <td>Status</td>
                        <td><b><span class="text-{{ preview_data.status_info.type }}">{{ preview_data.status_info.text }}</span></b></td>
                    </tr>

                    <tr *ngIf="preview_data.date">
                        <td>Transaction Date</td>
                        <td><b>{{ preview_data.date | amDateFormat:'LL' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.trans_date">
                        <td>Transaction Date</td>
                        <td><b>{{ preview_data.trans_date | amDateFormat:'LL' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.task">
                        <td>Task Created Date</td>
                        <td><b>{{ preview_data.task.created_at | amDateFormat:'LL' }}</b></td>
                    </tr>

                    <tr *ngIf="preview_data.created_at">
                        <td>Created At</td>
                        <td><b>{{ preview_data.created_at | amDateFormat:'LL' }}</b></td>
                    </tr>
                    <tr *ngIf="preview_data.updated_at">
                        <td>Updated At</td>
                        <td><b>{{ preview_data.updated_at | amDateFormat:'LL' }}</b></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
