<div *ngIf="account !== null" class="card">
    <div class="card-header">
        <img src="{{ user_avatar }}" alt="{{ account.username }}" class="img img-responsive img-circle" width="20" height="20" (error)="updateUserAvatar()"> &nbsp;
        <b>{{ account.name }}</b> <br> <small>{{ account.username }}</small>
        <a routerLink="/kryptonia/user/{{ account.id }}/account" class="btn btn-default close m-2"><i class="fa fa-times-circle"></i></a>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="row justify-content-center" *ngIf="balances !== null">
                <div class="col-md-2" *ngFor="let b_name of balance_names">
                    <div class="card bg-primary text-white">
                        <div class="card-header"><b>{{ b_name | titlecase }}</b></div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h5>{{ balances[b_name] }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card text-center small text-muted p-2">{{ bank_address }}</div>
                </div>
                <div class="col-md-12">
                    <div class="p-2 mb-1 bg-info text-white text-right w-100">
                        <button *ngIf="syncing" type="button" class="btn btn-sm btn-raised btn-light text-dark"><i class="fa fa-cog fa-spin"></i></button> &nbsp;
                        <button *ngIf="!syncing" type="button" class="btn btn-sm btn-raised btn-light text-dark" data-toggle="modal" data-target="#modalSync">Sync</button> &nbsp;
                        <small>Latest Updated at</small> {{ balances.updated_at | amCalendar }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav>
                        <div class="nav nav-tabs bg-primary" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab"
                                aria-controls="nav-all" aria-selected="true" (click)="getAll()">All</a>
                            <a class="nav-item nav-link" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab"
                                aria-controls="nav-basic" aria-selected="false" (click)="getBasics()">Basic</a>
                            <a class="nav-item nav-link" id="nav-task-tab" data-toggle="tab" href="#nav-task" role="tab"
                                aria-controls="nav-task" aria-selected="false" (click)="getTasks()">Task</a>
                            <a class="nav-item nav-link" id="nav-gift-tab" data-toggle="tab" href="#nav-gift" role="tab"
                                aria-controls="nav-gift" aria-selected="false" (click)="getGifts()">Gift</a>
                            <a class="nav-item nav-link" id="nav-bonus-tab" data-toggle="tab" href="#nav-bonus" role="tab"
                                aria-controls="nav-bonus" aria-selected="false" (click)="getBonuses()">Bonus</a>
                            <a class="nav-item nav-link" id="nav-referral-tab" data-toggle="tab" href="#nav-referral" role="tab"
                                aria-controls="nav-referral" aria-selected="false" (click)="getReferrals()">Referral</a>
                            <a class="nav-item nav-link" id="nav-social_connect-tab" data-toggle="tab" href="#nav-social_connect" role="tab"
                                aria-controls="nav-social_connect" aria-selected="false" (click)="getSocials()">Social Connect</a>
                            <a class="nav-item nav-link" id="nav-option_trade-tab" data-toggle="tab" href="#nav-option_trade" role="tab"
                                aria-controls="nav-option_trade" aria-selected="false" (click)="getTrades()">Option Trade</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <app-all-bank-partial [all_histories]="all_histories" [all_paginator]="all_paginator"></app-all-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                            <app-basic-bank-partial [basic_histories]="basic_histories" [basic_paginator]="basic_paginator"></app-basic-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
                            <app-task-bank-partial [task_histories]="task_histories" [task_paginator]="task_paginator"></app-task-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-gift" role="tabpanel" aria-labelledby="nav-gift-tab">
                            <app-gift-bank-partial [gift_histories]="gift_histories" [gift_paginator]="gift_paginator"></app-gift-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-bonus" role="tabpanel" aria-labelledby="nav-bonus-tab">
                            <app-bonus-bank-partial [bonus_histories]="bonus_histories" [bonus_paginator]="bonus_paginator"></app-bonus-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-referral" role="tabpanel" aria-labelledby="nav-referral-tab">
                            <app-referral-bank-partial [referral_histories]="referral_histories" [referral_paginator]="referral_paginator"></app-referral-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-social_connect" role="tabpanel" aria-labelledby="nav-social_connect-tab">
                            <app-social-bank-partial [social_histories]="social_histories" [social_paginator]="social_paginator"></app-social-bank-partial>
                        </div>
                        <div class="tab-pane fade" id="nav-option_trade" role="tabpanel" aria-labelledby="nav-option_trade-tab">
                            <app-trade-bank-partial [trade_histories]="trade_histories" [trade_paginator]="trade_paginator"></app-trade-bank-partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSync" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Security</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="your password" [(ngModel)]="sync_password" aria-describedby="helpId">
                  <small id="helpId" class="text-muted">Your Paassword is require for more secure syncing</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal" (click)="sync()">Continue</button>
            </div>
        </div>
    </div>
</div>
