<nav *ngIf="authenticated" class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/{{ system }}-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" (error)="updateLogo()">
         |
        <strong>C.A.</strong>System
    </a>
    <button id="sideToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span *ngIf="status === 'live'" class="text-danger"><b><i class="fa fa-circle" aria-hidden="true"></i> Live</b></span>
    <span *ngIf="status === 'local'" class="text-secondary"><b><i class="fa fa-circle" aria-hidden="true"></i> Local</b></span>
    <span *ngIf="status === 'error'" class="text-warning"><b><i class="fa fa-warning" aria-hidden="true"></i> Error</b></span>
</nav>
