<div class="row justify-content-center">
    <div class="col col-auto">
        <div class="btn-group" role="group" aria-label="Group Selection">
            <button type="button" (click)="select('all')" class="btn btn-{{ type === 'all' ? 'primary' : 'default' }} btn-raised">All</button>
            <button type="button" (click)="select('active')" class="btn btn-{{ type === 'active' ? 'primary' : 'default' }} btn-raised">Active</button>
            <button type="button" (click)="select('expired')" class="btn btn-{{ type === 'expired' ? 'primary' : 'default' }} btn-raised">Expired</button>
            <button type="button" (click)="select('completed')" class="btn btn-{{ type === 'completed' ? 'primary' : 'default' }} btn-raised">Completed</button>
            <button type="button" (click)="select('deactivated')" class="btn btn-{{ type === 'deactivated' ? 'primary' : 'default' }} btn-raised">Deactivated</button>
            <button type="button" (click)="select('archived')" class="btn btn-{{ type === 'archived' ? 'primary' : 'default' }} btn-raised">Archived</button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <h5>Total: <b>{{ total }}</b></h5>
</div>

<div class="row justify-content-center">
    <div class="col col-auto">
        <div class="table-auto-responsive">
            <table class="table table-striped table-hover" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Reward</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody *ngIf="tasks !== null" >
                    <tr *ngFor="let task of tasks | keyvalue">
                        <td [innerHTML]="task.value.user_info.name"></td>
                        <td [innerHTML]="task.value.title"></td>
                        <td [innerHTML]="task.value.reward"></td>
                        <td><span class="text-{{ task.value.status_info.type }}">{{ task.value.status_info.text | titlecase }}</span></td>
                        <td>{{ task.value.created_at | amCalendar }}</td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
