<app-navigation></app-navigation>
<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidebar></app-sidebar>

    <!-- Page Content  -->
    <div *ngIf="url === '/portal'" id="content" style="width: 100%;">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="url !== '/portal'" id="content" style="width: 80%;">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
