<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success btn-raised float-right" data-toggle="modal" data-target="#addModal"
            (click)="addModal()"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
    </div>
</div>
<div *ngIf="testimonials !== null" class="row justify-content-center">
    <div *ngFor="let item of testimonials | keyvalue" class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <b>{{ item.value.title }}</b> <hr>
                <i>"{{ item.value.content }}"</i> <br>
                <small>by</small> <br>
                &mdash; <b class="text-muted"><i>{{ item.value.name }}</i></b>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-raised btn-info" data-toggle="modal" data-target="#editModal" (click)="editModal(item.key)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-sm btn-raised btn-danger" data-toggle="modal" data-target="#trashModal" (click)="trashModal(item.key)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="new_data !== null" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">New Testimonial</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" [(ngModel)]="new_data.title" (keydown)="checkInput($event, 'title', 'new')" name="title" id="title" class="form-control" placeholder="Title" aria-describedby="helpTitle">
                    <small id="helpTitle" class="text-muted">required and max 30 characters only <span [innerHTML]="counter.title"></span></small>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" [(ngModel)]="new_data.content" id="content" (keydown)="checkInput($event, 'content', 'new')" class="form-control" placeholder="Content" aria-describedby="helpContent"></textarea>
                    <small id="helpContent" class="text-muted">required and max 150 characters only <span [innerHTML]="counter.content"></span></small>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" [(ngModel)]="new_data.name" name="author" id="author" class="form-control" placeholder="Author" aria-describedby="helpAuthor">
                    <small id="helpAuthor" class="text-muted">required</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-raised" data-dismiss="modal">Close</button>
                <button type="button" (click)="add()" class="btn btn-success btn-raised">Create</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="update_data !== null" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Update Testimonial</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" [(ngModel)]="update_data.title" (keydown)="checkInput($event, 'title', 'update')" name="title"
                        id="title" class="form-control" placeholder="Title" aria-describedby="helpTitle">
                    <small id="helpTitle" class="text-muted">required and max 30 characters only <span [innerHTML]="counter.title"></span></small>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" [(ngModel)]="update_data.content" id="content" (keydown)="checkInput($event, 'content', 'update')"
                        class="form-control" placeholder="Content" aria-describedby="helpContent"></textarea>
                    <small id="helpContent" class="text-muted">required and max 150 characters only <span [innerHTML]="counter.content"></span></small>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" [(ngModel)]="update_data.name" name="author" id="author" class="form-control"
                        placeholder="Author" aria-describedby="helpAuthor">
                    <small id="helpAuthor" class="text-muted">required</small>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <tr>
                            <td>Modified By</td>
                            <td><b>{{ update_data.admin_info.name }}</b></td>
                        </tr>
                        <tr>
                            <td>Created At</td>
                            <td><b>{{ update_data.created_at | amCalendar }}</b></td>
                        </tr>
                        <tr>
                            <td>Updated At</td>
                            <td><b>{{ update_data.updated_at | amCalendar }}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-raised" data-dismiss="modal">Close</button>
                <button type="button" (click)="update()" class="btn btn-info btn-raised">Update</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="preview_data !== null" class="modal fade" id="trashModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Trash Testimonial</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Are you sure you want to put this to trash?</h2>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <tr>
                            <td>Title</td>
                            <td><b>{{ preview_data.title }}</b></td>
                        </tr>
                        <tr>
                            <td>Content</td>
                            <td><b>{{ preview_data.content }}</b></td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td class="break-word">{{ preview_data.name }}</td>
                        </tr>
                        <tr>
                            <td>Modified By</td>
                            <td><b>{{ preview_data.admin_info.name }}</b></td>
                        </tr>
                        <tr>
                            <td>Created At</td>
                            <td><b>{{ preview_data.created_at | amCalendar }}</b></td>
                        </tr>
                        <tr>
                            <td>Updated At</td>
                            <td><b>{{ preview_data.updated_at | amCalendar }}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-raised" data-dismiss="modal">Close</button>
                <button type="button" (click)="trash()" data-dismiss="modal" class="btn btn-danger btn-raised">Trash</button>
            </div>
        </div>
    </div>
</div>
