.card {
    .card-body {
        min-height: 200px !important;
        max-height: 200px !important;
    }

    .card-footer {
        padding: 0 !important;
    }
}

#content {
    min-height: 20vh !important;
}
