<nav *ngIf="authenticated && _router.url !== '/portal'" id="sidebar">
    <div class="sidebar-header sidebar-header-{{ system }}">
        <div class="row justify-content-center" (click)="gotoMyAccount()">
            <img src="{{ avatar }}" alt="" width="60" height="60" (error)="updateAvatar($event)">
            <div class="col-12">
                <div class="d-none d-md-block d-xl-block">
                    <b>{{ user.name }}</b> <br>
                    <span class="small">{{ user.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card block p-2 text-dark">
        Total: <b class="float-right">{{ user.balance.total }}</b>
    </div>
    <div class="card block p-2 text-dark">
        Available: <b class="float-right">{{ user.balance.available }}</b>
    </div>

    <ul *ngIf="system === 'kryptonia'" class="list-unstyled components kryptonia">
        <li>
            <a routerLinkActive="active" routerLink="{{ system }}/dashboard">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                Dashboard
            </a>
            <a routerLinkActive="active" href="#usersSubs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-users" aria-hidden="true"></i>
                Users
            </a>
            <ul class="collapse list-unstyled" id="usersSubs">
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/new">New</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/active">Active</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/unverified">Unverified</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/unconfirmed">Unconfirmed</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/requested">Requested</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/disabled">Disabled</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/banned">Banned</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/user/all">All</a>
                </li>
            </ul>
            <a routerLinkActive="active" routerLink="{{ system }}/multi-account">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                Multi Account
            </a>
            <a routerLinkActive="active" routerLink="{{ system }}/bank">
                <i class="fa fa-bank" aria-hidden="true"></i>
                Bank
            </a>
            <a routerLinkActive="active" routerLink="{{ system }}/task">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Task
            </a>
            <a routerLinkActive="active" routerLink="{{ system }}/faq">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                FAQ
            </a>
            <a routerLinkActive="active" href="#landingSubs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
                Landing Page
            </a>
            <ul class="collapse list-unstyled" id="landingSubs">
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/landing-page/trusted-business">Trusted Business</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/landing-page/affiliated-sites">Affiliated Sites</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/landing-page/testimonials">Testimonials</a>
                </li>
            </ul>
            <a routerLinkActive="active" routerLink="{{ system }}/chat">
                <i class="fa fa-comments" aria-hidden="true"></i>
                Chat <sup class="badge badge-pill badge-warning">{{ unread }}</sup>
            </a>
            <a routerLinkActive="active" routerLink="{{ system }}/activities">
                <i class="fa fa-book" aria-hidden="true"></i>
                Activities
            </a>

            <a href="https://manager.kryptonia.io:2083" target="_">
                <i class="fa fa-external-link" aria-hidden="true"></i>
                Try Version 2 <span class="badge badge-pill badge-primary">BETA</span>
            </a>
        </li>
    </ul>

    <ul *ngIf="system === 'kblog'" class="list-unstyled components kblog">
        <li>
            <a routerLinkActive="active" routerLink="{{ system }}/dashboard">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                Dashboard
            </a>
            <a routerLinkActive="active" routerLink="{{ system }}/posts">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Posts
            </a>
            <a routerLinkActive="active" href="#paymentsSubs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-money" aria-hidden="true"></i>
                Payouts
            </a>
            <ul class="collapse list-unstyled" id="paymentsSubs">
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/payouts/superiorcoin">Superiorcoin</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="{{ system }}/payouts/rusgold">RusGold</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
