<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <b class="text-kryptonia">KRYPTONIA</b> <br>
                    <small class="text-muted">kryptonia.io</small>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="assets/images/kryptonia-logo.svg" width="50%" height="50%" alt="kryptonia">
                    </div>
                    <br>
                    <div (click)="goto('kryptonia')" type="button" class="btn btn-raised btn-kryptonia btn-block">Enter</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <b class="text-kblog">KBLOG</b> <br>
                    <small class="text-muted">kblog.io</small>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="assets/images/kblog-logo.svg" width="50%" height="50%" alt="kblog">
                    </div>
                    <br>
                    <div (click)="goto('kblog')" type="button" class="btn btn-raised btn-kblog btn-block">Enter</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <b class="text-superiorcoin">SUPERIORCOIN</b> <br>
                    <small class="text-muted">superior-coin.com</small>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="assets/images/superiorcoin-logo.svg" width="50%" height="50%" alt="superiorcoin">
                    </div>
                    <br>
                    <div (click)="goto('superiorcoin')" type="button" class="btn btn-raised btn-superiorcoin btn-block">Enter</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <b class="text-steembot">STEEMBOT</b> <br>
                    <small class="text-muted">kryptonia.biz:1444</small>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="assets/images/steembot-logo.svg" width="50%" height="50%" alt="steembot">
                    </div>
                    <br>
                    <div (click)="goto('steembot')" type="button" class="btn btn-raised btn-steembot btn-block">Enter</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-auto">
            <button type="button" class="btn btn-default" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
