<div class="row justify-content-center">
    <div class="col col-12">
        <div class="table-auto-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>DateTime</th>
                        <th>Admin</th>
                        <th>Category</th>
                        <th>Affeted User</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody *ngIf="activities !== null" >
                    <tr *ngFor="let item of activities | keyvalue" >
                        <td>{{ item.value.created_at | amCalendar }}</td>
                        <td>
                            <a *ngIf="item.value.admin_info !== null" routerLink="{{ _global.profileLink(item.value.admin_info.id) }}">
                                <span class="text-info">{{ item.value.admin_info.name }}</span> <br>
                                <small>{{ item.value.admin_info.username }}</small>
                            </a>
                        </td>
                        <td>{{ item.value.category }}</td>
                        <td>
                            <a *ngIf="item.value.user_info !== null"  routerLink="{{ _global.profileLink(item.value.user_info.id) }}">
                                <span class="text-info">{{ item.value.user_info.name }}</span> <br>
                                <small>{{ item.value.user_info.username }}</small>
                            </a>
                            <span *ngIf="item.value.user_info === null" >N/A</span>
                        </td>
                        <td><b>{{ item.value.type_info | uppercase }}</b></td>
                        <td><span class="text-{{ item.value.status_info.type }}">{{ item.value.status_info.text | uppercase }}</span></td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#viewModal" class="btn btn-raised btn-sm" (click)="view(item.key)" ><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-my-paginator [paginator]="paginator"></app-my-paginator>
        </div>
    </div>
</div>

<div *ngIf="preview_data !== null"  class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Admin</td>
                        <td>
                            <a routerLink="{{ _global.profileLink(preview_data.admin_info.id) }}">
                                <span class="text-info">{{ preview_data.admin_info.name }}</span> <br>
                                <small>{{ preview_data.admin_info.username }}</small>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{ preview_data.category }}</td>
                    </tr>
                    <tr>
                        <td>Affected User</td>
                        <td>
                            <a *ngIf="preview_data.user_info !== null"  routerLink="{{ _global.profileLink(preview_data.user_info.id) }}">
                                <span class="text-info">{{ preview_data.user_info.name }}</span> <br>
                                <small>{{ preview_data.user_info.username }}</small>
                            </a>
                            <span *ngIf="preview_data.user_info === null" >N/A</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ preview_data.type_info | uppercase }}</td>
                    </tr>
                    <tr>
                        <td>Field</td>
                        <td>{{ preview_data.field }}</td>
                    </tr>
                    <tr>
                        <td>Action</td>
                        <td>{{ preview_data.action }}</td>
                    </tr>
                    <tr>
                        <td>UA</td>
                        <td>{{ preview_data.ua }}</td>
                    </tr>
                    <tr>
                        <td>IP</td>
                        <td>{{ preview_data.ip }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span class="text-{{ preview_data.status_info.type }}">{{ preview_data.status_info.text | uppercase }}</span></td>
                    </tr>
                    <tr>
                        <td>DateTime</td>
                        <td>{{ preview_data.created_at | amCalendar }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
