<div *ngIf="paginator !== null && paginator.items !== null" class="row justify-content-center">
    <div class="col-auto justify-content-center">
        <div class="btn-group" role="group" aria-label="Paginations">
            <button type="button" class="btn btn-sm btn-secondary {{ paginator.items.current > 1 ? '' : 'disabled' }}"
                (click)="pager('start', paginator, paginator.type, paginator.scope)"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-secondary {{ paginator.items.current > 1 ? '' : 'disabled' }}"
                (click)="pager('previous', paginator, paginator.type, paginator.scope)"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <button *ngFor="let btn of paginator.items.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                (click)="loadPage(btn.num, paginator.type, paginator.scope)">{{ btn.num }}</button>
            <button type="button" class="btn btn-sm btn-secondary {{ paginator.items.current < paginator.items.total ? '' : 'disabled' }}"
                (click)="pager('next', paginator, paginator.type, paginator.scope)"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-sm btn-secondary {{ paginator.items.current < paginator.items.total ? '' : 'disabled' }}"
                (click)="pager('end', paginator, paginator.type, paginator.scope)"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
