<div class="row justify-content-end">
    <div class="col col-auto">
        <div class="form-group">
            <div class="input-group">
                <input type="date" class="form-control" [(ngModel)]="filter.date">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-success" (click)="getList(true)"><i class="fa fa-filter" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped" infiniteScroll [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="25" (scrolled)="onScroll()">
                <thead>
                    <tr>
                        <th>Blogger</th>
                        <th>Active Posts <small>(on-date)</small></th>
                        <th>Membership Type</th>
                        <th title="RusGold">Uses Tag</th>
                        <th>RusGold</th>
                        <th>Paid Date</th>
                        <th>Waves Address</th>
                        <th>Status</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody *ngIf="payouts">
                    <tr *ngFor="let item of payouts | keyvalue">
                        <td>
                            <div class="avatar-chip">
                                <img [src]="avatarURL(item.value.user_id)" [alt]="item.value.user_info.username">
                                <p class="avatar-chip-title">
                                    {{ item.value.user_info.name }} <br>
                                    <small>{{ item.value.user_info.username }}</small>
                                </p>
                            </div>
                        </td>
                        <td valign="middle" class="pointer" data-toggle="modal" data-target="#blogListModel" (click)="loadOtherBlogs(item.key)">
                            <div class="badge badge-pill badge-primary">
                                <a><b>{{ item.value.active_posts_info }}</b></a>
                            </div>
                        </td>
                        <td valign="middle">
                            <div class="badge badge-pill badge-{{ item.value.user_info.membership_info.slug }}">{{ item.value.user_info.membership_info.name }}</div>
                        </td>
                        <td valign="middle">{{ item.value.has_rusgold_tag ? 'Yes' : 'No' }}</td>
                        <td valign="middle" class="number float-right"><b>{{ item.value.rusgold_reward_info | number }}</b></td>
                        <td valign="middle">{{ item.value.rusgold_payout_info?.paid_date }}</td>
                        <td valign="middle">{{ item.value.rusgold_payout_info?.waves_address }}</td>
                        <td valign="middle">
                            <span *ngIf="!item.value.rusgold_payout_info" class="text-dark">Unpaid</span>
                            <span *ngIf="item.value.rusgold_payout_info" class="text-{{ item.value.rusgold_payout_info.status_info.type }}">{{ item.value.rusgold_payout_info.status_info.text | titlecase }}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-raised btn-kblog btn-sm" (click)="optionModal(item.key)"
                                    data-toggle="modal" data-target="#optionModel"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                <a [href]="blogURL(item.value)" target="_blog" class="btn btn-outline-success btn-sm btn-raised"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="optionModel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="form_data" class="container-fluid">
                    <div class="form-group">
                        <label for="paid_date">Paid Date</label>
                        <input type="date" name="paid_date" id="paid_date" class="form-control" [(ngModel)]="form_data.paid_date">
                    </div>
                    <div class="form-group">
                        <label for="waves_address">Waves Address</label>
                        <input type="text" name="waves_address" id="waves_address" class="form-control" [(ngModel)]="form_data.waves_address">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="selected && !selected.rusgold_payout_info" type="button" class="btn btn-kblog" (click)="addPaid()"
                    data-dismiss="modal">Set Paid</button>
                <button *ngIf="selected && selected.rusgold_payout_info" type="button" class="btn btn-info" (click)="editPaid()"
                    data-dismiss="modal">Update Paid</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selected" class="modal fade" id="blogListModel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List of Blog Post <small>@{{ selected.user_info.username }}</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <app-my-loading [loading]="loading" width="20"></app-my-loading>
                        </div>
                        <div *ngIf="blog_list" class="col-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Created At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of blog_list">
                                            <td><a [href]="blogURL(item)" class="text-info" target="_blog"><i class="fa fa-external-link-square" aria-hidden="true"></i> {{ item.blog_title }}</a></td>
                                            <td>{{ item.created_at }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <app-my-paginator [paginator]="paginator"></app-my-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
