<div *ngIf="loading" class="row justify-content-center">
    <div class="col-auto align-self-center">
        <img src="/assets/images/loader/double-ring.gif" [width]="width" height="auto" alt="Loading...">
    </div>
</div>
