/* You can add global styles to this file, and also import other style files */
@import 'assets/css/sidebar.css';
@import 'assets/scss/variables';

@import '~ngx-toastr/toastr.css';

app-my-loading {
    position: absolute;
    left: 0;
    right: 0;
}

.bg-primary {
    background-color: $primary !important;
}

.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    color: #FFF !important;
}

.text-primary {
    color: $primary !important;
}

.btn-kryptonia {
    background-color: $kryptonia !important;
    border-color: $kryptonia !important;
    color: #FFF;
}

.btn-kblog {
    background-color: $kblog !important;
    border-color: $kblog !important;
    color: #FFF;
}

.btn-superiorcoin {
    background-color: $superiorcoin !important;
    border-color: $superiorcoin !important;
    color: #FFF;
}

.btn-steembot {
    background-color: $steembot !important;
    border-color: $steembot !important;
    color: #FFF;
}

.text-kryptonia {
    color: $kryptonia !important;
}

.text-kblog {
    color: $kblog !important;
}

.text-superiorcoin {
    color: $superiorcoin !important;
}

.text-steembot {
    color: $steembot !important;
}

.wrapper {
    margin-top: 70px !important;
}

#sidebar {
    height: 100%;
    background: #FFF !important;
    color: #2d2d2d;

    .sidebar-header {
        img {
            border-radius: 50%;
        }
    }

    .sidebar-header-kryptonia {
        background: #4267b2 !important;
        color: #FFF;
    }

    .sidebar-header-kblog {
        background: #018C2F !important;
        color: #FFF;
    }

    .sidebar-header-superiorcoin {
        background: #DCC521 !important;
        color: #FFF;
    }

    .sidebar-header-steembot {
        background: #302543 !important;
        color: #FFF;
    }

    ul {
        .components {
            border-bottom: 0px !important;
        }
    }

    .kryptonia {
        a[aria-expanded="true"] {
            background: #4267b2 !important;
        }

        .active {
            background: #4267b2 !important;
            color: #FFF !important;

            a {
                background: #4267b2 !important;
                color: #FFF !important;

            }

            a[aria-expanded="true"] {
                background: #4267b2 !important;
                color: #FFF !important;
            }
        }
    }

    .kblog {
        a[aria-expanded="true"] {
            background: #018C2F !important;
        }

        .active {
            background: #018C2F !important;
            color: #FFF !important;

            a {
                background: #018C2F !important;
                color: #FFF !important;

            }

            a[aria-expanded="true"] {
                background: #018C2F !important;
                color: #FFF !important;
            }
        }
    }

    .superiorcoin {
        a[aria-expanded="true"] {
            background: #DCC521 !important;
        }

        .active {
            background: #DCC521 !important;
            color: #FFF !important;

            a {
                background: #DCC521 !important;
                color: #FFF !important;
            }

            a[aria-expanded="true"] {
                background: #DCC521 !important;
                color: #FFF !important;
            }
        }
    }

    .steembot {
        a[aria-expanded="true"] {
            background: #302543 !important;
        }

        .active {
            background: #302543 !important;
            color: #FFF !important;

            a {
                background: #302543 !important;
                color: #FFF !important;
            }

            a[aria-expanded="true"] {
                background: #302543 !important;
                color: #FFF !important;
            }
        }
    }

}

.table {
    tbody {
        tr {
            font-size: 0.75em;
        }
    }
}

html [type=button] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.card {
    margin-bottom: 10px;
}

.break-word {
    word-break: break-all;
}

.bold {
    font-weight: 600;
}

.nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #4068b4 !important;
}

.pointer {
    cursor: pointer;
}

.deleted {
    text-decoration: line-through;
    color: #ff0000;
}

.padding {
    padding: 15px;
}

.number {
    font-family: 'Roboto Condensed', sans-serif !important;
}

html,
body {
    height: 92vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.text-nowrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lined {
    border-bottom: 1px solid #c3c3c3;
}

.padding-vertical {
    padding: 8px 0 !important;
}

.padding {
    padding: 8px !important;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-chip {
    display: block;
    padding: 0 35px 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    width: fit-content;

    img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .avatar-chip-title {
        padding: 7px 0 !important;
        white-space: nowrap;
        font-size: small;
        color: #000;
        margin: 0 !important;
        line-height: 1.3;

        small {
            color: #575757;
        }
    }
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;

    img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.badge-bronze {
    background-color: #CD7F32;
    color: #FFF;
}

.badge-silver {
    background-color: #C0C0C0;
    color: #000;
}

.badge-gold {
    background-color: #D4AF37;
    color: #FFF;
}

.badge-platinum {
    background-color: #f0f5f7;
    color: #000;
}

.badge-founder {
    background-color: #9b111e;
    color: #FFF;
}

.badge-admin {
    background-color: #FF0000;
    color: #FFF;
}
