<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-bonus-deposit-tab" data-toggle="tab" href="#nav-bonus-deposit"
                    role="tab" aria-controls="nav-bonus-deposit" aria-selected="true">Deposits</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContentBonus">
            <div class="tab-pane fade show active" id="nav-bonus-deposit" role="tabpanel" aria-labelledby="nav-bonus-deposit-tab">
                <div class="col-12">
                    <div *ngIf="bonus_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposit of bonus_histories['deposits'] | keyvalue">
                                    <td><b>Received Bonus</b></td>
                                    <td>{{ deposit.value.coin | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.date | amDateFormat:'LL' }}</td>
                                    <td><span class="text-success">Completed</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="bonus_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ bonus_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', bonus_paginator, 'deposit', 'bonus')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ bonus_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', bonus_paginator, 'deposit', 'bonus')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of bonus_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'bonus')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ bonus_paginator.deposits.current < bonus_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', bonus_paginator, 'deposit', 'bonus')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ bonus_paginator.deposits.current < bonus_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', bonus_paginator, 'deposit', 'bonus')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
