<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="form-group search-input">
                <div class="input-group">
                    <input type="search" name="filter" [(ngModel)]="filter" class="form-control" placeholder="Name|Email|Username"
                        aria-label="Search" (keydown)="onInput($event)">
                    <div class="input-group-append">
                        <button (click)="search()" class="btn btn-outline-success" type="button">Search</button>
                    </div>
                </div>
            </div>
            <p class="form-text text-muted small" [innerHTML]="search_result"></p>
        </div>
    </div>
    <div *ngIf="accounts !== null" class="table-auto-responsive">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>DateTime</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Account Status</th>
                    <th>Cookie</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts | keyvalue">
                    <td [innerHTML]="account.value.created_at | amDateFormat:'LL'"></td>
                    <td (click)="gotoAccount(account.key)" class="pointer"><span class="fa fa-user-circle-o"></span> &nbsp; <b>{{ account.value.user_info.name }}</b> <br> <small class="text-muted">{{ account.value.user_info.username }}</small></td>
                    <td [innerHTML]="account.value.user_info.email"></td>
                    <td><span class="text-{{ account.value.user_info.status_info.type }}">{{ account.value.user_info.status_info.text | titlecase }}</span></td>
                    <td class="text-dark pointer" (click)="showSimilar(account.key)" data-toggle="modal" data-target="#similarModal" [innerHTML]="account.value.cookie"></td>
                    <td>
                        <button *ngIf="account.value.user_info.ban === 0" (click)="openBanModal(account.key)" type="button" class="btn btn-sm btn-raised btn-danger" data-toggle="modal" data-target="#banModal">Ban</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-my-paginator [paginator]="paginator"></app-my-paginator>
</div>

<div class="modal fade" id="similarModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Similar Cookies</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="similars !== null" class="table-auto-responsive">
                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>DateTime</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Account Status</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let account of similars | keyvalue">
                                        <td [innerHTML]="account.value.created_at | amDateFormat:'LL'"></td>
                                        <td (click)="gotoAccount(account.key)" data-dismiss="modal" class="pointer"><span
                                                class="fa fa-user-circle-o"></span> &nbsp; <b>{{ account.value.user_info.name }}</b>
                                            <br> <small class="text-muted">{{ account.value.user_info.username }}</small></td>
                                        <td [innerHTML]="account.value.user_info.email"></td>
                                        <td><span class="text-{{ account.value.user_info.status_info.type }}">{{ account.value.user_info.status_info.text | titlecase }}</span></td>
                                        <td>
                                            <button *ngIf="account.value.user_info.ban === 0" (click)="openBanModal(account.key)"
                                                type="button" class="btn btn-sm btn-raised btn-danger" data-toggle="modal"
                                                data-target="#banModal">Ban</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Ban Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Please confirm that you want to ban this user by providing a reason</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="reason">Reason</label>
                            <textarea rows="10" cols="1" class="form-control" name="reason" [(ngModel)]="reason"></textarea>
                            <small id="helpReason" class="text-muted">Reason is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" (click)="banAccount()"  data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
