<div class="card m-3">
    <div class="card-header bg-default text-white p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-trade-deposit-tab" data-toggle="tab" href="#nav-trade-deposit"
                    role="tab" aria-controls="nav-trade-deposit" aria-selected="true">Deposits</a>
                <a class="nav-item nav-link" id="nav-trade-withdrawal-tab" data-toggle="tab" href="#nav-trade-withdrawal"
                    role="tab" aria-controls="nav-trade-withdrawal" aria-selected="false">Withdrawals</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContentTrade">
            <div class="tab-pane fade show active" id="nav-trade-deposit" role="tabpanel" aria-labelledby="nav-trade-deposit-tab">
                <div class="col-12">
                    <div *ngIf="trade_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Seller</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposit of trade_histories['deposits'] | keyvalue">
                                    <td><b>Bought Trade</b></td>
                                    <td>{{ deposit.value.coin | number:'1.0-8' }}</td>
                                    <td>{{ deposit.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b (click)="gotoAccount(deposit.value.seller_info.id)">{{ deposit.value.seller_info.name }}</b></td>
                                    <td><b><span class="text-success">Completed</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview"
                                            (click)="preview('deposits', deposit.key)" data-toggle="modal" data-target="#previewModalTrade"><i
                                                class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="trade_paginator.deposits !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', trade_paginator, 'deposit', 'trade')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.deposits.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', trade_paginator, 'deposit', 'trade')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of trade_paginator.deposits.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'deposit', 'trade')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.deposits.current < trade_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('next', trade_paginator, 'deposit', 'trade')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.deposits.current < trade_paginator.deposits.total ? '' : 'disabled' }}"
                                    (click)="pager('end', trade_paginator, 'deposit', 'trade')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-trade-withdrawal" role="tabpanel" aria-labelledby="nav-trade-withdrawal-tab">
                <div class="col-12">
                    <div *ngIf="trade_histories !== null" class="table-auto-responsive">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>SUP</th>
                                    <th>Transaction Date</th>
                                    <th>Buyer</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let withdrawal of trade_histories['withdrawals'] | keyvalue">
                                    <td><b>Sold SUP</b></td>
                                    <td>{{ withdrawal.value.coin | number:'1.0-8' }}</td>
                                    <td>{{ withdrawal.value.created_at | amDateFormat:'LL' }}</td>
                                    <td><b (click)="gotoAccount(withdrawal.value.buyer_info.id)">{{ withdrawal.value.buyer_info.name }}</b></td>
                                    <td><b><span class="text-success">Completed</span></b></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-raised btn-sm" title="Preview"
                                            (click)="preview('withdrawals', withdrawal.key)" data-toggle="modal"
                                            data-target="#previewModalTrade"><i class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="trade_paginator.withdrawals !== null" class="row justify-content-center">
                        <div class="col-auto justify-content-center">
                            <div class="btn-group" role="group" aria-label="Paginations">
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('start', trade_paginator, 'withdrawal', 'trade')"><i class="fa fa-fast-backward"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.withdrawals.current > 1 ? '' : 'disabled' }}"
                                    (click)="pager('previous', trade_paginator, 'withdrawal', 'trade')"><i class="fa fa-caret-left"
                                        aria-hidden="true"></i></button>
                                <button *ngFor="let btn of trade_paginator.withdrawals.buttons" type="button" class="btn btn-sm btn-{{ btn.class }}"
                                    (click)="loadPage(btn.num, 'withdrawal', 'trade')">{{ btn.num }}</button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.withdrawals.current < trade_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('next', trade_paginator, 'withdrawal', 'trade')"><i class="fa fa-caret-right"
                                        aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-sm btn-secondary {{ trade_paginator.withdrawals.current < trade_paginator.withdrawals.total ? '' : 'disabled' }}"
                                    (click)="pager('end', trade_paginator, 'withdrawal', 'trade')"><i class="fa fa-fast-forward"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewModalTrade" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{ modal.bg }} text-{{ modal.txt }}">
                <h4 class="modal-title" id="modelTitleId">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
                <table *ngIf="preview_data !== null" class="table table-bordered">
                    <tr *ngFor="let item of preview_data | keyvalue">
                        <td *ngIf="item.key !== 'item_id'">{{ item.key | titlecase }}</td>
                        <td *ngIf="item.key !== 'item_id'" [innerHTML]="item.value" class="break-word bold"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
